article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/*---- typography ----*/
h1, h2, h3, h4, h5 {
  font-family: "proxima-nova", "verdana", sans-serif; }

p {
  font-family: "ff-tisa-web-pro", "georgia", serif; }

a {
  text-decoration: none;
  color: #5263C4; }

.giga {
  font-size: 40px; }

.mega {
  font-size: 36px; }

.kilo {
  font-size: 32px; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: bold; }

h1, .alpha {
  font-size: 28px; }

h2, .beta {
  font-size: 24px; }

h3, .gamma {
  font-size: 20px; }

h4, .delta {
  font-size: 18px; }

h5, .epsilon {
  font-size: 14px; }

h6, .zeta {
  font-size: 12px; }

small, .milli {
  font-size: 10px; }

p, ul, ol, dl, address {
  margin: 0 0 20px; }

ul, ol {
  padding: 0 0 0 20px; }

ul ul, ol ol, dl dl {
  margin: 10px 0; }

ul li, ol li, dl dd {
  margin-bottom: 10px; }

ol ol li {
  list-style-type: lower-alpha; }

ol ol ol li {
  list-style-type: lower-roman; }

dt {
  font-weight: bold; }

dd {
  margin: 0 0 10px;
  padding-left: 20px; }

blockquote {
  margin: 0;
  padding-left: 16px;
  border-left: 2px solid #ddd; }
  blockquote p {
    margin-bottom: 10px; }

blockquote small, cite, figcaption {
  font-style: italic;
  font-size: 12px; }

address {
  font-style: normal; }

.content-width {
  /* -- defines document width --*/
  max-width: 1100px;
  /* -- everything else --*/
  position: relative;
  margin: 0 auto;
  padding: 0 10px; }
  .content-width:after {
    content: "";
    display: table;
    clear: both; }

.content-width--800 {
  max-width: 800px; }

.content-width--400 {
  max-width: 400px; }

/* ------ grid like base ------ */
/*
"pinned" IE10 in Windows 8 forces page width to behave
---- TESTING ----
@media screen and (max-width: 400px) {
  @-ms-viewport {
    width: device-width;
  }
}*/
/*
replaces grid-container
max-width set in default.css
*/
.clear:after {
  content: "";
  display: table;
  clear: both; }

/*
use when do grid layout
 */
.grid-unit {
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 10px;
  padding: 0 10px;
  vertical-align: top; }

/*
wildcard attribute selector for prefix, suffix, push and pull classes
---- TESTING ----
*/
[class*='prefix'], [class*='suffix'],
[class*='push'], [class*='pull'] {
  position: relative; }

/*
replaces grid-parent
removes left/right padding of 10px
*/
.gutter-0 {
  padding: 0; }

.gutter-left-0 {
  padding-left: 0; }

.gutter-right-0 {
  padding-right: 0; }

/*
adds left/right padding of 20px
*/
.gutter-20 {
  padding: 0 20px; }

/* responsive video */
.vid-wrap {
  position: relative;
  height: 0;
  margin-bottom: 24px;
  padding-bottom: 56.25%; }
  .vid-wrap iframe, .vid-wrap object, .vid-wrap embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

/* ------ button styles ------ */
button, .btn {
  margin-bottom: 16px;
  padding: 12px 20px;
  text-align: center;
  -webkit-appearance: none; }
  button:focus, .btn:focus {
    outline: none;
    border: none; }
  button:hover, .btn:hover {
    background-color: #f7f7f7; }
  button:active, .btn:active {
    background-color: #e6e6e6; }

.btn {
  display: block;
  width: auto;
  border: none;
  border-radius: 3px;
  padding: 12px 16px;
  background-color: #e7e7e7;
  font-size: 14px;
  color: white;
  line-height: 28px;
  text-transform: uppercase; }

.btn--outline {
  border: 1px solid white; }
  .btn--outline:hover {
    background-color: #f7f7f7; }
  .btn--outline:active {
    background-color: #e6e6e6; }

.btn--blue {
  background-color: #ddd;
  color: white; }
  .btn--blue:hover {
    background-color: #f7f7f7; }
  .btn--blue:active {
    background-color: #e6e6e6; }

.btn--green {
  background: #800850;
  color: white; }
  .btn--green:hover {
    background-color: #f7f7f7; }
  .btn--green:active {
    background-color: #e6e6e6; }

/* ------ form and elements styles ------ */
form {
  margin-bottom: 24px; }

label {
  display: block;
  margin-bottom: 10px; }

input, textarea, select {
  display: block;
  width: 100%;
  margin-bottom: 16px;
  padding: 8px;
  font-weight: 500;
  color: #434a54;
  border: 1px solid #ddd; }

input[type=checkbox], input[type=radio] {
  display: inline-block;
  width: auto; }

textarea {
  line-height: normal; }

input:focus, textarea:focus, select:focus {
  outline: none; }

/* ------ placeholder styles ------ */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #dedede;
  transition: color 0.15s linear; }

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #dedede;
  transition: color 0.15s linear; }

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #dedede;
  transition: color 0.15s linear; }

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #dedede;
  transition: color 0.15s linear; }

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: #ededec; }

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: #ededec; }

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  color: #ededec; }

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  color: #ededec; }

/* -------- base.css -------- */
/* apply box-sizing to all elements */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  line-height: 1.5; }

/* link defaults */
/* mirco clearfix */
.cf:before, .cf:after {
  content: "";
  display: table; }

.cf:after {
  clear: both; }

hr {
  margin: 24px 0;
  border: 0 #ccc solid;
  border-top-width: 1px; }

figure {
  margin: 0; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

/* ------ helpers ------ */
.left {
  float: left; }

.right {
  float: right; }

.no-bull {
  list-style: none; }

/*
---- TESTING ----
*/
.vertical {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.lead {
  font-size: 18px; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

/* new text-indent method */
.text-hide {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

/* ------ table styles ------ */
table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0; }

td, th {
  padding: 6px 0;
  font-size: 16px;
  text-align: left; }

nav ul, nav ol {
  list-style: none;
  margin: 0;
  padding: 0; }

nav li {
  margin: 0; }

.header, .footer {
  padding: 24px 0;
  color: #666; }

.logo {
  float: left;
  display: block; }
  .logo img {
    height: 90px; }

.logo-desktop {
  display: none; }

.primary-nav .btn {
  padding: 8px 16px;
  color: #fff;
  width: auto;
  text-transform: none; }
.primary-nav .primary-nav-list {
  list-style: none;
  font-size: 0;
  float: right;
  display: none; }
.primary-nav li {
  display: inline-block; }
.primary-nav li a {
  display: block;
  padding: 0 14px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-decoration: none; }
  .primary-nav li a:hover {
    color: #ddd; }
  .primary-nav li a:visited {
    color: #c4c4c4; }
.primary-nav.opened {
  position: absolute;
  z-index: 20;
  top: 110px;
  left: 0;
  float: none;
  display: block;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9); }
  .primary-nav.opened li {
    display: block; }

.primary-nav-list {
  position: absolute;
  z-index: 20;
  top: 110px;
  left: 0;
  float: none;
  display: block;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9); }

.nav-toggle:hover,
.footer-nav-list a:hover,
.footer-nav-list a:active {
  color: #d0d0d0; }

.secondary-nav-list {
  display: none; }

.header-sub li a {
  color: #313131; }

.nav-toggle {
  float: right;
  display: inline-block;
  font-size: 32px;
  color: #fff;
  text-decoration: none; }

/*.header-home {
  background: transparent url(/assets/images/tomiki-hero-bg.jpg) no-repeat center center;
  background-size: cover;
  height: 550px;
}*/

/*# sourceMappingURL=main.css.map */
